
.kanban-wrap {
  display : flex;
  justify-content: space-around;

}


.kanban-listbox {
  width : calc((100% / 3) - 16px);
  border-radius : 10px;
  min-height : 468px;

}




.kanban-title{
  font-size : 20px;
  font-weight : bold;
  position : relative;
}

.progress-alarm{
  color : #666;
  font-size : 14px;
  position : absolute;
  right : 24px;
  bottom : 0px;

  transition : .75s;
}

.kanban-box {
  margin-top : 16px;
  min-height : 408px;
  border-radius : 10px;
  box-sizing : border-box;
  padding : 16px;
  border : 2px solid #fff;

  overflow-y : auto;

  max-height : calc(100vh - 140px);
}

/* 칸반 박스 스크롤 적용 */
.kanban-box::-webkit-scrollbar {
  width: 4px;
  background-color: #000; /* 스크롤바 배경 */
}

.kanban-box::-webkit-scrollbar-thumb {
  background-color: #fff; /* 스크롤바의 색상 */
  border-radius: 10px; /* 스크롤바 모서리 둥글게 */
}

.kanban-box::-webkit-scrollbar-thumb:hover {
  background-color: #666; /* 스크롤바에 마우스를 올렸을 때 색상 */
}


/* 칸반 블록 */
.kanban-block{
  box-sizing : border-box;
  height : 120px;
  padding : 8px;
  border : 4px solid #fff;
  border-radius : 10px;
  margin-bottom : 8px;
  color : #fff;
  cursor : pointer;
  transition : .5s;
  background-color : #000;
}

.kanban-block:hover {
  animation : border-blink 1.5s infinite;
}

@keyframes border-blink {
  0%{
    background-color : #000;
  }
  50% {
    background-color : rgb(92, 78, 0);
  }
  100%{
    background-color : #000;
  }
}

.kanban-header {
  display : flex;
  justify-content: space-between;
}

.kanban-type {
  margin-right : 8px;
}

.block-title{
  font-size : 20px;
}

.block-content{
  width : 100%;
  font-size : 14px;
  line-height : 18px;
  height : 36px;
  margin-top : 28px;
  
  overflow: hidden;
  display: -webkit-box; /* Flexbox 유사 레이아웃 모델 사용 */
  -webkit-line-clamp: 2; /* 2줄 이후에 생략 처리 */
  -webkit-box-orient: vertical; /* 상하 방향으로 정렬 */

  text-overflow: ellipsis;
}

.add-btn{
  width : 100%;
  height : 120px;
  border-radius: 10px;
  border : 4px dashed #9e9e9e;
  box-sizing : border-box;
  position : relative;
  cursor : pointer;
  transition : .5s;
}

.add_icon {
  font-size : 40px;
  line-height : 40px;
  color : #9e9e9e;
  position : absolute;
  left : 50%;
  top : 50%;
  transform : translate(-50%, -50%);
  transition : .5s;
}

.add-btn:hover {
  border-color : gold;
  border-style : solid;
}

.add-btn:hover .add_icon {
  color : gold;
}

.undo {
  color : #a2a2a2;
}

.progress {
  color : #28E5FF;
}

.done {
  color : rgb(13, 0, 255);
}



.box-undo{
  border-color : #a2a2a2;
}

.box-progress {
  border-color : #28E5FF;
}

.box-done {
  border-color : rgb(13, 0, 255);
}


.trash-box{
  margin-top : 24px;
  width : 80%;
  margin : 0 auto;
  text-align : center;
  font-size : 28px;
  line-height : 60px;
  height : 60px;
  border : 4px dashed #ccc;
  border-radius : 10px;
}