
.Header {
  width : 100%;
  height : 60px;
  position : fixed;
  left : 0;
  top : 0;
  border-bottom : 2px solid #f00;

  background-color : #000;

  display : flex;

  z-index : 9999;
}

.Logo {
  line-height : 60px;
}

.GNB {
  width : 400px;
  display : flex;
  justify-content : space-between;
  margin-left : 200px;
}

.GNB > li {
}

.GNB > li > a {
  display : block;
  font-size : 18px;
  font-weight : bold;
  line-height : 60px;
  text-align : center;
  transition : .5s;
}

.GNB > li > a:hover {
  color : #f00;
}

main {
  margin-top : 60px;
  box-sizing : border-box;
  padding : 32px;
}
